<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Funkoshop</title>
  </head>

  <body>
    
    <%- include('../partials/header')%>

    <main class="main-container">
      <section class="items container">
        <article class="row items__content card-item">
          <picture class="col-md-6 item__img card-item__cover">
            <img
              class="card-item__img--front"
              src="<%= item.img_front %>"
              alt="<%= item.product_description %>"
            />
            <img
              class="card-item__img--back"
              src="<%= item.img_back %>"
              alt="<%= item.product_description %>"
            />
          </picture>

          <div class="col-md-6 items__details">
            <p class="items_licence"><%= item.licence_name %></p>
            <h3 class="items__name"><%= item.product_name %></h3>
            <p class="items__text">
                <%= item.product_description %>
            </p>
            <p class="items__price">$ <%= item.product_price %>.-</p>
            
           

                <form class="item__cart" action="#" method="POST" enctype="application/x-www-form-urlencoded">
                    

                    
                    
                    <input id="quantity" class="item__input" type="text" name="quantity" placeholder="0"> <!-- x -->
                    <button id="subtract" class="items__cart--menos" type="button">-</button> <!-- x -->
                    <button id="add" class="items__cart--mas" type="button">+</button> <!-- x -->
                   

                    <button class="items__addcart" type="submit">Agregar al carrito</button>
                </form>

           
            <p class="items__promo">
              <a href="#">Ver metodos de pago </a> - 3 CUOTAS SIN INTERÉS
            </p>
          </div>
        </article>
      </section>
      <section class="slider container glide">
        <h2 class="slider__title">Productos relacionados</h2>
        <div class="glide__track" data-glide-el="track">
          <ul class="slider__items glide__slides">
            <li class="slider__item glide__slides">
              <article class="card-item">
                <a class="card-item__link" href="">
                  <picture class="card-item__cover">
                    <img
                      class="card-item__img--front"
                      src="../../img/star-wars/trooper-1.webp"
                      alt="Tropper"
                    />
                    <img
                      class="card-item__img--back"
                      src="../../img/star-wars/trooper-box.webp"
                      alt="Trooper Box"
                    />
                    <span class="card-item__tag">NUEVO</span>
                  </picture>
                  <div class="card-item__content">
                    <p class="card-item__licence">STAR WARS</p>
                    <h4 class="card-item__name">Stormtrooper lightsaber</h4>
                    <p class="card-item__price">$1799,99.-</p>
                    <p class="card-item__promo">3 cuotas sin interés</p>
                  </div>
                </a>
              </article>
            </li>
            <li class="slider__item glide__slides">
              <article class="card-item">
                <a class="card-item__link" href="">
                  <picture class="card-item__cover">
                    <img
                      class="card-item__img--front"
                      src="../../img/pokemon/pidgeotto-1.webp"
                      alt="Pokemon"
                    />
                    <img
                      class="card-item__img--back"
                      src="../../img/pokemon/pidgeotto-box.webp"
                      alt="Pokemon Box"
                    />
                    <span class="card-item__tag">NUEVO</span>
                  </picture>
                  <div class="card-item__content">
                    <p class="card-item__licence">POKEMON</p>
                    <h4 class="card-item__name">PIDGEOTTO</h4>
                    <p class="card-item__price">$1799,99.-</p>
                    <p class="card-item__promo">3 cuotas sin interés</p>
                  </div>
                </a>
              </article>
            </li>
            <li class="slider__item glide__slides">
              <article class="card-item">
                <a class="card-item__link" href="">
                  <picture class="card-item__cover">
                    <img
                      class="card-item__img--front"
                      src="../../img/harry-potter/luna-1.webp"
                      alt="Luna"
                    />
                    <img
                      class="card-item__img--back"
                      src="../../img/harry-potter/luna-box.webp"
                      alt="Luna Box"
                    />
                    <span class="card-item__tag">NUEVO</span>
                  </picture>
                  <div class="card-item__content">
                    <p class="card-item__licence">HARRY POTTER</p>
                    <h4 class="card-item__name">Luna Lovegood lion mask</h4>
                    <p class="card-item__price">$1799,99.-</p>
                    <p class="card-item__promo">3 cuotas sin interés</p>
                  </div>
                </a>
              </article>
            </li>
          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <iconify-icon
              class="icon"
              icon="ic:twotone-chevron-left"
            ></iconify-icon>
          </button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <iconify-icon
              class="icon"
              icon="ic:twotone-chevron-right"
            ></iconify-icon>
          </button>
        </div>
      </section>
    </main>

    <%- include('../partials/footer')%>

    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="../../js/items.js"></script>

    <script>
      new Glide(".glide", {
        type: "carousel",
        startAt: 0,
        perView: 3,
        gap: 30,
        breakpoints: {
          991: {
            perView: 2,
          },
          768: {
            perView: 1,
          },
        },
      }).mount();
    </script>
  </body>
</html>
